.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.header__menu {
  width: 55%;

  @media(max-width: 768px) {
    display: none;
  }
}

.header__links {
  @media(max-width: 480px)  {
    display: none;
  }
}