.hero__container{
    height:100vh;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    padding: 60px 0 20px;
}
.hero__bottom-buttons{
    display: flex;
    justify-content: center;
}
.scroll-icon{
    width: 14px;
    height:14px;
    fill: #FFFFFF;
}
.hero__content {
  flex: .8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24%;

}