.reviews {
  background: url('~images/bg/rockit.jpg') top right 53% / cover no-repeat;
  padding-top: 253px;
  padding-bottom: 135px;

}

.reviews__about {
  margin-bottom: 190px;
}

.reviews__container {
  padding-right: 26%;

}

.reviews__form {
  width: 89%;
}