.skill{
  position: relative;
  width: 166px;
  height: 166px;
}
 
.second-section {
  position: relative;
  padding: 140px 0;

  @media (max-width: 480px) {
    padding: 90px 0;
  }
}
.second-section__triangles-top{
  height: 100px;
  position:absolute;
  bottom:100%;
  width:100%;
}