.works__content {
  padding-bottom: 60px;
  @media (max-width: 480px) {
    padding-bottom: 0px;
  }
}
.work__container{
  width: 80%;
    @media (max-width: 480px) {
    width: 100%;
  }
}
.works__section-title {
  @media (max-width:480px) {
    text-align: center;
    margin-bottom: 30px;
  }
}